html {
  overflow: hidden;
}
body {
  overflow: auto;
  height: 100vh;
  scroll-snap-type: y mandatory;
  margin: 0;
  width: 100%;
  position: relative;
  perspective: 100px;
}

.scene {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

.scene1,
.scene2 {
  background-image: url(img/bg.svg);
}

.scene3 {
  background-image: url(img/bg2.svg);
}

img {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  transform-style: unset;
}
.clouds {
  position: absolute;
  opacity: 0.8;
  filter: drop-shadow(2px 3px 10px #e0e4ff);
  transform: scale(0.9) translate3d(0, -200px, 10px);
  animation-duration: 3s;
}

.clouds,
.bird,
.bats {
  animation-fill-mode: both;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
}

.hills {
  transform: scale(0.8) translateZ(20px);
}
.bird {
  transform: translate(350px, -185px);
  animation-name: bird;
  animation-duration: 1s;
}
.bats {
  transform: scale(0.7) translate3d(0, 0, 30px);
  animation-duration: 3s;
}

.bat1 {
  animation-name: bat1;
}
.bat2 {
  animation-name: bat2;
}
.bat3 {
  animation-name: bat3;
}
.bat4 {
  animation-name: bat4;
}
.bat5 {
  animation-name: bat5;
}

.trees {
  transform: scale(0.6) translateZ(40px);
}

.hill1-1 {
  transform: scale(0.81) translateZ(19px);
}
.hill1-2 {
  transform: scale(0.82) translateZ(18px);
}
.hill1-3 {
  transform: scale(0.83) translateZ(17px);
}
.hill1-4 {
  transform: scale(0.84) translateZ(16px);
}
.hill1-5 {
  transform: scale(0.85) translateZ(15px);
}
.hill1-6 {
  transform: scale(0.86) translateZ(14px);
}
.hill1-7 {
  transform: scale(0.87) translateZ(13px);
}
.hill1-8 {
  transform: scale(0.88) translateZ(12px);
}
.hill1-9 {
  transform: scale(0.89) translateZ(11px);
}

.cloud1 {
  animation-name: cloud1;
}
.cloud2 {
  animation-name: cloud2;
}
.cloud3 {
  animation-name: cloud3;
}
.cloud4 {
  transform: scale(0.9) translate3d(300px, -200px, 10px);
  animation-name: cloud4;
}

@keyframes cloud1 {
  to {
    transform: scale(0.9) translate3d(-200px, -200px, 10px);
  }
}
@keyframes cloud2 {
  to {
    transform: scale(0.9) translate3d(-300px, -200px, 10px);
  }
}
@keyframes cloud3 {
  to {
    transform: scale(0.9) translate3d(-400px, -200px, 10px);
  }
}
@keyframes cloud4 {
  to {
    transform: scale(0.9) translate3d(-300px, -200px, 10px);
  }
}

@keyframes bird {
  to {
    transform: translate(450px, -485px);
  }
}

@keyframes bat1 {
  to {
    transform: scale(0.8) translate3d(10px, 200px, 10px);
  }
}
@keyframes bat2 {
  to {
    transform: scale(0.7) translate3d(0, 0, 20px);
  }
}
@keyframes bat3 {
  to {
    transform: scale(0.7) translate3d(300px, 0, 30px);
  }
}
@keyframes bat4 {
  to {
    transform: scale(0.7) translate3d(-100px, 0, 30px);
  }
}
@keyframes bat5 {
  to {
    transform: scale(0.7) translate3d(200px, -100px, 50px);
  }
}
